[submodule "namespace_mux"]
	path = namespace_mux
	url = https://github.com/jcmayoral/namespace_mux.git
[submodule "multi_map_navigation"]
	path = multi_map_navigation
	url = https://github.com/jcmayoral/multi_map_navigation.git
[submodule "map_store"]
	path = map_store
	url = https://github.com/jcmayoral/map_store.git
